* {
    font-family: sans-serif cursive;
}

footer {
    background-color: #3b5998;
    color: white;
    text-align: center;
    font-size: 2.5vw;
    padding: 5px;
}

img {
    padding: 5px 20px 5px 20px;
    max-width: 100%;
}

body {
    background-color: white;
}

table {
    border: 2px solid black;
}

td,
tr {
    border: 1px solid white;
    padding: 8px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    text-align: center;
}

.nav-tabs {
    padding-top: 30px;
    font-size: 1.6vw;
}

#page-wrapper {
    padding-top: 10px;
}

.navbar-header {
    color: white;
    text-align: center;
    font-size: 2.5vw;
    padding: 10px;
    background-color: #3b5998;
    width: 100%;
}

.navbar-header button {
    padding: 5px;
}

.navbar-toggle {
    padding: 10px 10px 10px 10px;
}

.navbar-collapse {
    background-color: #dfe3ee;
}

.navbar-nav>li>a,
.navbar-nav>li>ul>li>a {
    color: black !important;
    font-weight: bold;
}

.navbar-toggle:hover {
    background-color: #3b5998 !important;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

#logo {
    background-color: #fff;
    border-radius: 100%;
    padding: 5px;
    width: 10%;
}

#wrapper {
    padding-top: 2%;
}

#page-wrapper {
    width: 100%;
    padding: 40px;
    background-color: white;
}


/* Side Navigation */

.side-nav>li>a {
    display: block;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #222;
}

.side-nav>li>ul>li>a:hover {
    background-color: #3b5998 !important;
}

.item {
    height: 240px;
}

.item img {
    height: 240px !important;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    #wrapper {
        padding-left: 250px;
    }
    #page-wrapper {
        padding: 20px;
    }
    #logo {
        width: auto;
    }
    .nav-tabs {
        padding-top: 10px;
        font-size: 1.3vw;
    }
    .navbar-header {
        color: white;
        text-align: center;
        font-size: 2.5vw;
        padding: 10px;
        background-color: #3b5998;
        height: 100px;
    }
    .side-nav {
        position: fixed;
        top: 101px;
        left: 250px;
        width: 250px;
        margin-left: -250px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #dfe3ee;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 10px;
    }
    .item {
        height: 480px;
    }
    .item img {
        height: 480px !important;
    }
    .side-nav>li>a {
        width: 250px;
        color: black !important;
        text-align: center;
        font-weight: bold;
    }
    .side-nav>li>ul {
        list-style: none;
    }
    .side-nav>li>ul>li>a {
        display: block;
        margin-left: -50px;
        background-color: white;
        color: #222;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 5px 10px 5px 5px;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #3b5998 !important;
    }
}